*{ 
  font-size: 20px;
    box-sizing: border-box;
margin: 0;
}
body{
color:hsl(0, 0%, 0%);
  background-color:	#5dac30;

}
.page-nav{
  max-width: 960px;
  border: 6px solid #0a3e0e;
  margin-left: 20%;
  background-color: rgba(30, 212, 79, 0.47);

}
.page-nav li {

  display: inline-block;
  margin: 5px 30px 0 0;
  width: 250px;
  border: 3px solid #d8c675;
  background-color: #467619;
  padding: 10px;
  border: 2px solid #000000;
}

nav ul li {
  margin:0 auto;
  border: 2px solid #000000;
  background-color: #34660b7c;
  min-height: 20px;
  width: 50%;
  text-align: center;
  }
div {
  margin: 0 auto;
  max-width: 960px;
}
.link  {
 margin: 0 auto;
 flex-direction: column;
}
li{
 margin:10px auto;
}
ul{
 margin: 0 auto;
  display:inline-flex; 
  list-style-type: disc;
}

a{
    display: block;
    color: #000000;  
}
a:hover{
    text-decoration: underline;
}
.table{
    border-collapse: collapse;
    border: 5px solid black;
    
}
th, td{
    border: 3px solid black;
}
#form{
 margin: 0 auto;
 padding:0 auto;
    align-items: center;
}
input, select, textarea{
    outline: none;
    border: 1px solid#94c80fe1;
}
input[type=submit],[type=radio], [type=date]{
    cursor: pointer;
}
input[type=submit]{
    background-color: rgb(255, 255, 255);
}
textarea{
    resize: none;
}
header{
    background-color: rgb(70, 174, 77);
border-bottom: 5px solid #000000;
}
#main {
  background-color: rgb(140, 239, 168);
border: 5px solid #000000;
}
 img {
    border: 3px solid #000000;
  }
  .header_cont {
    padding: 15px 10px 0 10px;
    clear: both;
  }
  .header_cont div {
    display: inline-block;
    padding: 25px 0 0 10px;
  }
.container{
    width: 100%;
}
tr:nth-child(even){
    background-color: #f4511f;
}
.footer{
    background-color: rgb(255, 255, 255);
} 
